[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
attestso = "3zqb9TDPZXQW3EWWokmrZtW7ic13caVmKZsQq3PK66Gm"

[programs.localnet]
attestso = "3zqb9TDPZXQW3EWWokmrZtW7ic13caVmKZsQq3PK66Gm"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[test.validator]
bind_address = "0.0.0.0"
url = "http://127.0.0.1:8899"
ledger = ".anchor/test-ledger"
rpc_port = 8899
